.add {
    font-weight:bold;
}
.main {
    width:50%;
    background: #ffffff;
    border: 1px solid #95DCD5;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    margin-left:25%;
    margin-right:25%;
    margin-top:20px;
  }