.App {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.App-header {
  background-color: #95DCD5;
  height: 100px;
  padding: 5px;
  color: white;
}

.login {
  color:#000;
  margin:0px;
  font-size:10pt;
}

.App-header-bot {
  background-image:url(./images/zigzag.png);
  height:45px;
  border-bottom:1px solid #000000;
}

.App-title {
  font-size: 40pt;
  font-family: 'Pacifico', cursive;
}

.intro {
  font-size:16pt;
  font-weight:bold;
  padding:20px;
}
